body {
    margin: 0;
    background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), #010E1E;
    background-repeat: no-repeat;
}

.icon__nav {
    font-family: 'Lexend Zetta', sans-serif;
    background-color: black;
    color: white;
    padding: 1px;
    font-weight: 400;
    font-size: 17px;
    text-align: start;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.google_translate_element {
    display: flex;
    justify-content: end;
    margin: 10px;
    align-self: flex-end;
}

.icon__site {
    size: 10px;
    width: 40px;
    height: 40px;
    align-items: start;
    margin: 0px 5px 0px 10px;
}

.menu__btn {
    position: absolute;
    width: 70px;
    height: 70px;
    left: 197px;
    top: 139px;
    font-size: 15px;
    padding: 5px;
    border-radius: 50px;
    background-color: #000000;
    color: white;
    border: none;
    cursor: pointer;
}

.cabecalho__principal {
    font-family: 'Lexend Zetta', sans-serif;
    font-size: 23px;
    background-image: url(/img/header-blue.png);
    background-position: center;
    width: 100%;
    display: flex;
    justify-content: center;
    color: white;
}

.title__site {
    margin: 80px;
}

.intro__text {
    margin: 60px 350px 0px 350px;
    color: white;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: 100;
}

.titulo__card {
    font-family: 'Lexend Giga', sans-serif;
}

.cards__info {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    display: flex;
    text-align: center;
    margin: 20px 0px 20px 0px; 
}

.imagem {
    height: 640px;
    width: 465px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    border-radius: 5px;
}

.card__de__texto {
    font-family: "Cousine", solid;
    color: white;
    margin: 30px 30px 30px 30px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card {
    display: flex;
    flex-direction: row;
    border: 3px #00000059;
    background-color: #00000059;
    border-width: 100%;
    border-radius: 5px;
    padding: 30px;
    margin: 50px;
}

.imagem {
    display: flex;
    flex-direction: column;
    height: 640px;
    width: 465px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
    border-radius: 5px;
}

.text__card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 500px;
    margin: 20px;
}

.text__box {
    width: 150px;
}

.final__text {
    margin: 60px 350px 0px 350px;
    color: white;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 100;
}

.link__wwrld {
    text-decoration: none;
    color: white;
}

.link__wwrld:hover {
    color: rgba(199, 155, 0, 0.939227);
}

.more__div {
    font-family: 'Lexend Giga', sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
    color: white;
}

.btn__moreopt1 {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    text-align: center;
    padding-left: 25px;
    justify-content: center;
    align-items: center;
    width: 710px;
    height: 65px;
    font-size: 19px;
    margin: 7px 0px 50px 0px;
    border-radius: 11px;
    cursor: pointer;
    background-color: #0000005b;
    border: none;
    color: white;
}
.btn__moreopt1:hover {
    font-size: 20px;
    width: 715px;
    height: 70px;
    transition: 500ms linear; 
}

footer {
    background-color: #00000034;
    height: 500px;
    color: white;
    align-items: center;
    text-align: center;
}

.itsmehi {
    width: 160px;
    height: 162px;
    border-radius: 100px;
    align-items: center;
    margin: 60px 35px 35px 35px;
    justify-content: center;
}

.credit__text {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
}

.contact__stuff {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 57px;
    font-family: 'Roboto', sans-serif;

}

.git {
    width: 48px;
    height: 48px;
    cursor: pointer;
}

.link {
    width: 45px;
    height: 45px;
    cursor: pointer;
}

.insta {
    width: 38px;
    height: 38px;
    cursor: pointer;
}

*::-webkit-scrollbar {
    height: 6px;
    width: 7px;
    background: transparent;
  }

  *::-webkit-scrollbar-track {
    background: black;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #8C8C8C;
    border-radius: 10px;
  }