body {
    position: relative;
    height: 1024px;
    background-image: url("/img/full-bg.png");
    background-repeat: repeat;
    background-position: center;
    width: 1905px;
    margin: 0;
    text-align: center;
}

.icon__nav {
    font-family: 'Lexend Zetta', sans-serif;
    background-color: black;
    color: white;
    padding: 1px;
    font-weight: 400;
    font-size: 17px;
    text-align: start;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 1912px;
}

.google_translate_element {
    display: flex;
    justify-content: end;
    margin: 10px;
    align-self: flex-end;
}

.translate__tool {
    align-items: end;
}

.menu__btn {
    position: absolute;
    width: 70px;
    height: 70px;
    left: 197px;
    top: 139px;
    font-size: 15px;
    padding: 5px;
    border-radius: 50px;
    background-color: #282828;
    color: white;
    border: none;
    cursor: pointer;
}

.input__search {
    width: 350px;
    height: 30px;
    font-size: 15px;
    background-color: hsla(0, 0%, 53%, 0.285);
    color: white;
    text-align: start;
    margin: 55px 5px 5px 5px;
    border: none;
    border-radius: 50px;
    padding: 10px 10px 10px 25px;
    font-family: 'Roboto Mono', monospace;
}
    
.search__btn {
    width: 70px;
    height: 50px;
    border: none;
    border-radius: 50px;
    background-color: #A93A3A;
    color: white;
    font-family: 'Roboto Mono', monospace;
}
    
.search__btn:active {
    box-shadow: inset -4px 4px 0 #222;
    font-size: 0.9rem;
    color: #b9b9b9;
    background-color: #5000004b;
}

.title__table {
    font-family: 'Lexend Giga', sans-serif;
    text-align: center;
    color: #2b1f1c;
    margin: 0px 0px 20px 0px;
}

.card {
    display: flex;
    justify-content: center;
    margin: 90px 0px 0px 0px;
}

.data__card {
    display: flex;
    padding: 50px;
    width: 550px;
    height: 250px;
    color: #2b1f1c;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 2.93%, rgba(0, 0, 0, 0.2) 100%), #E2D9B9;
    border-radius: 25px;
    justify-content: space-evenly;
    text-align: start;
    align-items: center;
    flex-direction: row;
    font-family: 'Roboto Mono', monospace;
}

.about__data {
    justify-content: space-between;
    text-align: start;
    
}

.table__data {
    text-align: start;
    justify-content: start;

}


.button__previous {
    position: absolute;
    width: 166px;
    height: 74px;
    left: 170px;
    top: 800px;
    background: #282828;
    border-radius: 50px;
    font-size: 19px;
    color: white;
    border: none;
    font-family: 'Roboto Mono', monospace;
}

.button__next {
    position: absolute;
    width: 166px;
    height: 74px;
    left: 1594px;
    top: 800px;
    background: #282828;
    border-radius: 50px;
    font-size: 19px;
    color: white;
    border: none;
    font-family: 'Roboto Mono', monospace;
}

*::-webkit-scrollbar {
    width: 6px;
    height: 7px;
    background: transparent;
  }

  *::-webkit-scrollbar-track {
    background: black;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #808080;
    border-radius: 10px;
  }